@model Project_WS.Models.Staff

@{
    ViewBag.Title = "Edit Staff";
}

<h2>Edit Staff</h2>

@using (Html.BeginForm("EditStaff", "Home", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dob, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Dob, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="@Url.Action("Index", "Home")" class="btn">Back</a>


    <script type="text/javascript">
        console.log(2)

        $(document).ready(function () {
            console.log("1")
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>
}
